table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
    margin: 50px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: #8eb1c7ff;
}

tr:nth-child(odd) {
    background-color: #8eb1c7ff;
}

body {
    background: #c1bfb5ff;
}